In [1]:
import pandas as pd
import polars as pl
import duckdb as dbu
from pathlib import Path
import matplotlib.pyplot as plt

In [24]:
# -*- coding: utf-8 -*-
"""
Created on Mon Aug  2 13:17:07 2021

CZ4124 Data Visualisation (Tutorial 1 Template)
@author: Put your name here

"""

PlotWithPandas = True  # you can plot either with Pandas or Matplotlib
#---------------------------------------------------------------------
# Read in Daily Temperature datafile into dataframe Temp
#---------------------------------------------------------------------
t1_location : Path = Path(r'/Users/joeqh/Library/CloudStorage/OneDrive-NanyangTechnologicalUniversity/Academics/Sem 7/SC4024/Tutorials/tutorial_1')
daily_temp_path :Path = t1_location / 'Daily_Temperature.csv'
temp1_path :Path = t1_location / 'Temp_Week_1.csv'
temp2_path :Path = t1_location / 'Temp_Week_2.csv'

daily_temp_df :pl.DataFrame = pl.read_csv(daily_temp_path)
temp_w1_df :pl.DataFrame = pl.read_csv(temp1_path)
temp_w2_df :pl.DataFrame = pl.read_csv(temp2_path)

In [13]:
daily_temp_df

     Name   Mon   Tue   Wed   Thu   Fri   Sat   Sun
0    John  36.5  36.8  36.4  35.8  36.0  36.5  35.8
1   Ahmad  36.5  36.6  36.7  36.8  36.6  36.7  36.8
2   Ginny  35.5  36.0  36.2  37.0  37.5  37.0  38.3
3  Manish  37.5  37.0  36.5  37.3  36.6  36.5  36.0

In [32]:
daily_temp_df.unpivot()

shape: (32, 2)
┌──────────┬────────┐
│ variable ┆ value  │
│ ---      ┆ ---    │
│ str      ┆ str    │
╞══════════╪════════╡
│ Name     ┆ John   │
│ Name     ┆ Ahmad  │
│ Name     ┆ Ginny  │
│ Name     ┆ Manish │
│ Mon      ┆ 36.5   │
│ …        ┆ …      │
│ Sat      ┆ 36.5   │
│ Sun      ┆ 35.8   │
│ Sun      ┆ 36.8   │
│ Sun      ┆ 38.3   │
│ Sun      ┆ 36.0   │
└──────────┴────────┘

In [ ]:
#---------------------------------------------------------------------
# Use MELT to covert to long form and apply column names
#---------------------------------------------------------------------
# put in your code here


#---------------------------------------------------------------------
# Use PIVOT to convert to wide form with Names in each column
#---------------------------------------------------------------------
# put in your code here


#-------------------------------
# Use Pandas to plot line chart
#-------------------------------
if(PlotWithPandas):
    print('\nPlotting with Pandas')
    # put your Pandas plotting code here


#----------------------------------
# Use Matplotlib to plot line chart
#----------------------------------
else:
    print('\nPlotting with Matplotlib')
    # Alternatively, you can do the plot using Matplotlib or
    # any other Python plotting library